body {
    background: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 500px;
    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.navbar {
    background-color: black;
}

.nav-link-1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-link-2 {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.nav-link-1:hover, .nav-link-2:hover{
    color: #dc3545;
}

.nav-item {
    color: black;
}