body {
    background: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 500px;
    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.navbar {
    background-color: black;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.nav-link:hover, .navbar-brand:hover {
    color: #dc3545;
}

.navbar-dark {
    font-weight: bold;
    color: white;
}